@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin-bottom: 30px;
   
}

form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

form label {
    margin-bottom: 5px;
}

form input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

form input:focus,
form input:valid {
    border-bottom-color: lightblue;
    outline: none;
}

form button {
    background-color: lightblue;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7ec8e3;
}

form button:focus {
    outline: none;
}

#success-message {
    margin-top: 20px;
    display: none;
    background-color: rgba(0, 255, 0, 0.2);
    color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

table {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

table th {
    background-color: rgba(0, 0, 0, 0.6);
}

table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
